.navbar {
  border-bottom: 0.25em solid var(--yellowAccent);
  padding: 0;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  cursor: pointer !important;
  padding: 10px 20px;
  :hover {
    background-color: var(--yellowAccent);
    transition: background-color 0.3s, transform 0.2s;
    padding: 1em;
  }
}
a {
  color: var(--black);
}

