.navbar {
  border-bottom: 0.25em solid var(--yellowAccent);
  padding: 0;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  cursor: pointer !important;
  padding: 10px 20px;
  :hover {
    background-color: var(--yellowAccent);
    transition: background-color 0.3s, transform 0.2s;
    padding: 1em;
  }
}
a {
  color: var(--black);
}

button {
  background-color: var(--grayPrimary);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 10px;

  &:hover {
    background-color: var(--grayAccent);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
