<div class="container" [@expand]="startGame ? 'open' : 'close'">
  <div
    class="card"
    (click)="handleClick($event, i)"
    *ngFor="let pokemon of pokemonArr; let i = index"
    [@appear]="startGame ? 'appear' : 'hidden'"
  >
    <div
      *ngIf="pokeballArr[i]"
      class="pokeball"
      (click)="togglePokeball(pokeballArr[i])"
      [@pokeball]="pokeballArr[i].state"
      [ngClass]="{
        hidden: selectedCards.includes(i) || matchedPairs.includes(i)
      }"
    >
      <img
        src="{{ pokeballArr[i].imgUrl }}"
        alt="{{ pokemon.name }}"
        id="{{ i }}"
      />
    </div>
    <div
      *ngIf="pokemon"
      class="pokemon"
      [@pokeball]="!pokeballArr[i].state"
      [ngClass]="{
        hidden: !selectedCards.includes(i) && !matchedPairs.includes(i)
      }"
    >
      <img src="{{ pokemon.imgUrl }}" alt="{{ pokemon.name }}" id="{{ i }}" />
    </div>
  </div>
</div>

<app-modal
  [pokemon]="pokemonArr[0]"
  [message]="winMessage"
  [route]="routeGame"
  (playAgainClicked)="onPlayAgainClicked($event)"
  *ngIf="matchedPairs.length === pokemonArr.length"
></app-modal>
