.container{
  background-color: var(--yellowSecondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.9) inset;
  padding: 2em;
  img{
    width: 40%;
  }
  .navigation {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: var(--grayPrimary);
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s, transform 0.2s;
      margin-bottom: 10px;


      &:hover {
        background-color: var(--grayAccent);
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    button + button {
      margin-left: 10px;
    }
  }
}

