.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--grayPrimary);
  border: 5em solid var(--graySecondary);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #8ab5c0;
  border: 2px solid #666;
  border-radius: 20px;
  overflow: hidden;
}

app-header {
  background-color: var(--greenPrimary);
}

app-home {
  background-color: thistle;
}

app-footer {
  background-color: var(--greenPrimary);
}

@media (min-width: 1000px) {
  // media paraque a partir de los 900px de ancho el contenido este centrado
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .app-content {
    width: 1000px;
  }
}
